= render partial: 'header'

%main.spots__main#main
  .spots__main__contents
    = render partial: 'article', collection: @spots, as: 'spot'

  .spots__main__contents__paginate
    = paginate(@spots)

%footer