.spots {
  &__show {
    width: 100%;
    height: 100%;
    background-color: lighten($tokyo_light_green, 30%);
    padding-bottom: 100px;

    &__contents {
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      padding-top: 40px;
      background-color: #ffffff;

      &__top {
        width: 80%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: row;

        &__images {
          width: 40%;
          margin-bottom: 30px;
          margin-right: 60px;
          &__main {
            & img {
              width: 100%;
              margin-bottom: 20px;
            }
          }
          &__nav {
            width: 100%;
            margin: 0 auto;
            & img {
              width: 97%;
            }
          }
        }
        &__info {
          width: 60%;
          &__title {
            font-size: 30px;
            margin-bottom: 12px;
          }
          
          &__prefecture {
            margin-bottom: 25px;
            font-size: 20px;
            padding-right: 20px;
            text-align: right;
          }
          &__text {
            font-size: 20px;
            padding-right: 20px;
            min-height: 300px;
            & p {
              word-wrap: break-word;
            }
          }
        }
      }

      &__middle {
        width: 80%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        &__maps {
          width: 40%;
          &__google-map {
            // width: 100%;
            height: 250px;
          }
        }
        &__chart {
          width: 30%;
          padding-top: 20px;
        }

        &__bottom {
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &__info {
            text-align: right;
            margin-top: 20px;
          }
          &__btns {
            & ul {
              margin-top: 15px;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              & li {
                margin-right: 10px;
                & a {
                  text-decoration: none;
                  color: $tokyo_light_blue;
                  font-size: 0.9rem;
                }
              }
            }
          }
        }
      }
      &__comments {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        
        &__form {
          text-align: center;
          form {
            width: 100%;
            position: relative;
            margin-bottom: 60px;
            textarea {
              width: 80%;
              padding: 5px 10px;
              margin-bottom: 5px;
              border: 1px solid $tokyo_silver;
              border-radius: 3px;
              font-size: 0.9em;
            }
            input[type="submit"] {
              display: block;
              position: absolute;
              left: calc(10% - 10px);
              // width: 80px;
              padding: 5px;
              // height: 40px;
              background-color: $tokyo_red;
              color: white;
              font-weight: bold;
              border-radius: 5px;
              font-size: 0.8em;
              
            }
          }
        }
        &__comment {
          
          h2 {
            font-size: 1.8em;
            color: $tokyo_light_blue;
            margin-bottom: 10px;
          }
          &__partial {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            &__left {
              width: 20%;
              text-align: center;
              img {
                border: 1px solid $tokyo_silver;
                width: 40%;
                padding: 0 10px;
              }

            }
            &__right {
              width: 80%;
              &__text {
                border: 1px solid $tokyo_silver;
                border-radius: 4px;
                padding: 4px;
                min-height: 30px;
              }
              ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                li {
                  margin-left: 15px;
                  a {
                    text-decoration: none;
                    font-size: 0.9em;
                    color: $tokyo_pink;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}