.spots {
  &__header {
    background-color: $nagatani_yellow;
    &__contents {
      margin: 0 auto;
      padding: 20px 0 0 0;
      width: 70%;
      &__title {
        text-align: center;
        letter-spacing: 10px;
        font-family: 'Kosugi Maru';
        margin-top: 0px;

        & p {
          text-align: center;
          font-size: 1.5em;
          letter-spacing: 8px;
          color: $nagatani_red;
          margin-bottom: 15px;
          margin-top: 15px;
          font-family: 'M PLUS 1p';
          font-weight: bold;
        }

        a {
          text-decoration: none;
          color: $nagatani_black;
          font-size: 4em;
          font-weight: bold;
        }
      }
    }
    &__btns {
      border-bottom: 3px solid $nagatani_black;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: inherit;
      ul {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        font-family: 'Kosugi Maru';
        li {
          width: 25%;
           a {
            display: inline-block;
            text-decoration: none;
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
          }
        }
      }
      &--1 {
        background-color: $nagatani_red;
        color: $nagatani_white;
      }
      &--2 {
        background-color: $nagatani_green;
        color: $nagatani_white;
      }
      &--fixed {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: inherit;
        z-index: 1;
      }
    }
  }
  &__main {
    min-height: calc(100vh - 223px);
    background-color: lighten($tokyo_light_green, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

    &__contents {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Noto Serif JP';
      &__article {
        border-radius: 8px;
        width: 100%;
        padding-top: 40px;
        background-color: #ffffff;
        height: 400px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row-reverse;
        &__right {
          width: 60%;
          padding-right: 40px;
          padding-left: 10px;

          &__title {
            font-size: 30px;
            margin-bottom: 12px;
          }
          
          &__prefecture {
            margin-bottom: 18px;
            font-size: 20px;
            padding-right: 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
          }
          &__text {
            font-size: 18px;
            height: 180px;
            padding-right: 20px;
            overflow: hidden;
            & p {
              word-wrap: break-word;
            }
          }
          &__bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            &__show {
              margin-bottom: 30px;
              & a {
                text-decoration: none;
                color: $tokyo_pink;
              }
            }
            &__row {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              margin-bottom: 10px;
              &__element {
                margin-left: 30px;
              }
            }
          }
        }
        &__left {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 40%;
          &__chart {
            width: 80%;
          }
          &__image {
            width: 80%;
            text-align: center;
            margin-bottom: 15px;
            & img {
              width: 100%;
              max-height: 218px;
            }
          }
        }
      }
      &__paginate {
        margin-top: 20px;
      }
    }
  }
}
#flash {
  width: 100%;
  height: 20px;
  line-height: 30px;
  font-size: 18px;
  // padding: 3px 0 3px 0;
  text-align: center;
  & .notice {
    background-color: $tokyo_light_green;
  }

  & .alert {
    background-color: $tokyo_red;
    color: white;
  }
}