$nagatani_yellow: #ffd817;
$nagatani_red: #fe0000;
$nagatani_green: #006229;
$nagatani_black: #000000;
$nagatani_white: #ffffff;

$tokyo_red: #f23417;
$tokyo_pale_blue: #40b4d7;
$tokyo_pink: #e56597;
$tokyo_green: #2eac54;
$tokyo_brown: #c67b19;
$tokyo_light_blue: #4685b8;
$tokyo_light_green: #8fc723;
$tokyo_purple: #ae6ea3;
$tokyo_orange: #f06b29;
$tokyo_silver: #b5b8ae;

@font-face {
  font-family: 'ほのか明朝';
  src: url('font_1_honokamin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kokuTetsuMedium';
  src: url('MPLUSRounded1c-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kokuTetsuBold';
  src: url('MPLUSRounded1c-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'kokuTetsuExtraBold';
  src: url('MPLUSRounded1c-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
